include modules/**/*.pug
- var images  = "images/"
- var videos  = "videos/"
- var others  = "others/"

doctype html
html
	+head(index.head)
	body

		//-page transition overlay
		.transition__item

		.nav
			+link('homepage', 'homepage', 'index.html')
			+link('subpage', 'subpage', 'subpage.html')

		//-ajax structure
		.ajax--container.hidden
			.page--container.js-home(data-title=index.content.title)
				h1=index.content.title

				div(class="test anime visible"
					data-visible="fade"
					data-anime="transform"
					data-transfrom="translateY"
					data-from='200'
					data-to='-200')=index.content.scroll
		+js
